@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.plot-axis {
    stroke: #D0D0D0;
    color: #D0D0D0;
}

.stacked-bar {
    stroke: black;
    stroke-width: 1px;
}
.fa { display:inline; }

body {
    background-color: black;
    font-family: Roboto, sans-serif;
}

svg {
    font-family: Roboto, sans-serif;
}

@layer components {
    select.drop-down {
        @apply bg-darkest border-mid2 border-1 rounded p-1 text-sm text-white;
    }

    div.tooltip-row {
        @apply grid grid-cols-2 bg-dark rounded-sm mb-1;
    }

    div.tooltip-row-label {
        @apply p-1 bg-mid2 text-white rounded-sm;
    }

    div.tooltip-row-value {
        @apply p-1 ml-1;
    }

    g.legend-s rect.background {
        @apply fill-dark stroke-light stroke-1 rounded;
    }

    g.legend rect.background {
        @apply fill-dark stroke-light stroke-1 rounded;
    }

    g.plot-axis path.domain {
        @apply stroke-mid2;
    }
}
